$fontColor1: rgb(0, 0, 0);
$fontColor2: rgb(255, 255, 255);
$fontColor3: rgb(104, 80, 80);
$backgorundColor1: rgb(166, 182, 172);
$backgorundColor2: rgb(0, 0, 0);
$backgorundColor3: rgb(178, 202, 188);
$backgorundColor4: rgb(125, 165, 141);
$backgorundColor5: rgb(90, 109, 98);
$backgorundColor6: rgb(69, 90, 77);
$backgorundColor7: rgb(213, 236, 222);
$backgorundColor8: rgb(226, 247, 234);


$backgorundColor9: rgb(245, 242, 226);





