
@import 'colors';
@import 'spacings';
@import 'typography';
@import 'base';


.container{
  
    box-sizing: border-box;
    max-width: 1840px;
    margin: auto;
    padding: 0 2*$lgSpacing;


}
.hero{
    // font-size: 18px;
.container{
    nav{
        ul{
            font-size: 22px;

        }
    }
    h1{
        width: calc(100% - 4*$lgSpacing);
        // min-width: 1440px;
        // max-width: 1780px;
        max-width: 1660px;
        margin-right: 90px;
    }
    .element3{
        .login{
            p{
                font-size: 22px;
    
            }
            img{
                height: 30px;
            }
        }
        .carT{
            img{
                height: 30px;
            }
        }
        

    }
    .element4{
        .label{
            input{
                width: 345px;
                translate:-35px ;
               
            }
            label:before {
                z-index: 2;
                left: -25px;
            }

        }
    }
}
   
}
.panels{
    .container{
        .categories{
            article{
                height:480px ;
            }
        }
        
        .seeAll{
            height: 65px;
            // background-color: red;
            font-size: 20px;
    
        } 
    }
 
}

.incursion{
    .buttons{
        .sales, .brands{
            form{
                button{
                    height: 2.8rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}